body{
      
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: linear-gradient(-45deg, #141E30, #243B55, #0f2027, #2c5364);
    background-size: 400% 400%;
    animation: bgMove 10s ease infinite;
  }

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 40px;
    margin-bottom: 5px;
    
}
#h4{
    color:#00ffff;
    font-weight: 400;
    margin-top: 10px ;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
    
    border-radius: 25px;
    margin: 30px;
    
    height: 440px;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.05);;
    box-shadow: 0 0 25px rgb(0, 255, 255);
 
    
}
p{
    margin-top: 10px;
    line-height: 1.5em;
    color: #ccc;
    margin: 20px;
}
.contact{
    
    border-radius: 25px;
    height: 40px;
    width: 100px;
    color: black;
    background-color: #00ffff;
    font-weight: bold;
}
.contact:hover{
    background-color: white;
    color: black;
}
#image1{
    margin-top:30px ;
    width: 180px;
    border-radius: 50%;
    border: 3px solid #00ffff;
    box-shadow: 0 0 25px rgb(0, 255, 255) ;    
}
#pro{
    text-align: center;
    color: #00ffff;
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container-2{
    height: 600px;
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    
}

.loginform{
    border: 2px solid #2c5364;
    height: 400px;
    width: 290px;
    /* justify-content: center; */
    margin-left: 200px;
    padding: 20px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      box-shadow: 0 0 25px rgb(0, 255, 255);
      padding:20px ;
    
      
}
#image-2{
    height: 180px;
    width: 280px;
    border: 2px solid #00ffff;
    border-radius: 25px;
    

}
.log{
    /* display: flex;
    flex-direction: row;
    justify-content: center ; */
}
.view-1{
    height: 60px;
    width: 120px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: #00ffff;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
.view-1:hover{
       transform: translateY(-8px);
  box-shadow: 0 0 20px #00ffff;
}
.view-2{
    height: 60px;
    width: 120px;
    border-radius: 25px;
    background-color: #00ffff;
    color: black;
    font-weight: bold;
    border: 2px solid black;
}
.view-2:hover{
    transform: translateY(-8px);
  box-shadow: 0 0 20px #00ffff;
}
a{
    text-decoration: none;
    color: black;
}
.container-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 110px;

    
}

.w3page{
    height: 445px;
    width: 450px;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid #2c5364;
    border-radius: 25px;
    box-shadow: 0 0 25px rgb(0, 255, 255);
    
   
    
  

}
#image-3{
    height: 140px;
    width: 280px;
    border: 2px solid #00ffff;
    border-radius: 25px;
    margin-top: 41px;
    
}
.w3{
    text-align: center;
}
.view-3{
    height: 60px;
    width: 120px;
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 40px;
    background-color: #00ffff;
    color: black;
    font-weight: bold;
}
.view-3:hover{
       transform: translateY(-8px);
  box-shadow: 0 0 20px #00ffff;
}



.medium{
    height: 435px;
    width: 300px;
    border: 2px solid #2c5364;
    border-radius: 25px;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background-color: rgba(255, 255, 255, 0.05);
    padding: 10px;
    box-shadow: 0 0 25px rgb(0, 255, 255);
    
}
#image-4{
    height: 140px;
    width: 280px;
    border: 2px solid #00ffff;
    border-radius: 25px;
}

.view-5{
      height: 60px;
    width: 120px;
    border: 2px solid black;
    border-radius: 25px;
    margin-bottom: 10px;
    background-color: #00ffff;
    color: black;
    font-weight: bold;
}

.view-5:hover{
          transform: translateY(-8px);
  box-shadow: 0 0 20px #00ffff;
}


.end{
    height: 64px;
    background-color: rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;


}
.links{
    text-decoration: none;
    color: white;
}
