body{
    margin: 0;
    padding: 0;
    
}
nav{
    border: 2px solid black;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.logo{
    margin-left: 95px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.link{
    margin-right: 95px;
    
}
.link a{
    margin: 20px;

}
a{
    color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:hover{
    background-color: aliceblue;
    height: 10px;
}

.start-button{
    width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
}
.start-button:hover{
    background-color: white;
    color: black;
}
.container{

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  height: 80vh;

}

h1{
    font-size: 90px;
    padding-left: 60px;
  

}
h3{
    font-size: 25px;
    padding-left: 45px;
    margin-bottom: 60px;
}
#start-reading{
    
    width: 200px;
    height: 45px;
    margin-left: 100px;
    border: 1px solid black; 
    border-radius: 25px;
    background-color: black;
    color: white  ;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#start-reading:hover{
    background-color: white;
    color: black;
}

footer{
    border: 1px solid black;
    height: 50px;    
}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left:300px;
    margin-right: 300px;
    text-align: center;
    margin-top: 10px;   
}
img{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    margin-top: 20px;
}
.imge img {
  width: 500px;
  height: 620px;
  object-fit: cover;
}


