

  body{
    margin: 0;
  }
  .navbar{
    height: 56px;
    background-color: white;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    margin-right: 10px;
    
  }

  a{
    color: black;
    text-decoration: none;
  }
  a:hover{
    background-color: aliceblue;
    
  }

  .language{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
   
  }

  .main2{
     background-color:  #282a35; 
    
  }
  #link{
    color: white;
  }


  #search{
   border-radius: 20px;
   height: 30px;
   border: 1px solid black;
  }
  #search:hover{
    border: 2px dotted crimson;
  }

  button{
   height: 40px;
   width: 90px;
   border-radius: 15px;
   background-color: #04AA6D;
   color: white;
  }
  button:hover{
    background-color: #0b6b48;
  }

  .container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #282a35;
   height: 551px;
  }
 


.container {
  text-align: center;
}

h1 {
  font-size: 60px;
  margin-bottom: 10px;
  color: white;
  font-size: 70px;
}

#p1 {
  font-size: 23px;
  color: #f5d76e;
  margin-bottom: 30px;
}
.search-box {
  width: 350px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 17px;
  margin-bottom: 25px;
  
}
 .srh{
  border: 2px solid transparent;
  border-radius: 40px;
  overflow: hidden;
  height: 6vh;

 }
.srh-btn{
  border: 2px solid #04AA6D;
  border-radius: 0%;
  text-align: center;
  height: 6.45vh;
}
.srh-btn:hover{
  border: 2px solid #0b6b48;
  background-color: #0b6b48;
  height: 40px;
  border-radius: 0%;
}


.begin-link {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  font-size: 18px;
  margin-bottom: 70px;
}

.begin-link:hover {
  color: #f5d76e;
}
footer{
   color: white;
   margin-bottom: 10px;
   padding: 30px;
   
  
  
}

